name: Reliable Windows Package
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
        type: string

env:
  MSI_NAME: travel_guide_network-${{ github.event.inputs.version }}.msi

jobs:
  package:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install WiX Toolset
        run: choco install wixtoolset -y

      - name: Bundle Python environment
        run: |
          $pythonPath = python -c "import sys; print(sys.executable)"
          $pythonDir = Split-Path -Parent $pythonPath
          Copy-Item -Path $pythonDir -Destination "python" -Recurse -Force
          & "python/python.exe" -m pip install -r requirements.txt
          & "python/python.exe" -m pip freeze > bundled-requirements.txt

      - name: Create MSI installer
        run: |
          $msiName = "${{ env.MSI_NAME }}"
          $version = "${{ github.event.inputs.version }}"
          $wxsContent = @"
          <?xml version="1.0" encoding="UTF-8"?>
          <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
            <Product Id="*" Name="travel_guide_network" Version="$version" Manufacturer="travel_guide_network Team" UpgradeCode="YOUR-GUID-HERE">
              <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
              
              <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
              <MediaTemplate EmbedCab="yes" />
              
              <Feature Id="ProductFeature" Title="travel_guide_network" Level="1">
                <ComponentGroupRef Id="ProductComponents" />
              </Feature>
            </Product>
            
            <Fragment>
              <Directory Id="TARGETDIR" Name="SourceDir">
                <Directory Id="ProgramFilesFolder">
                  <Directory Id="INSTALLFOLDER" Name="travel_guide_network" />
                </Directory>
              </Directory>
            </Fragment>
            
            <Fragment>
              <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
                <Component Id="PythonComponent" Guid="*">
                  <File Source="python\*" />
                </Component>
                <Component Id="ScriptsComponent" Guid="*">
                  <File Source="*.py" />
                  <File Source="*.yaml" />
                  <File Source="requirements.txt" />
                  <File Source="bundled-requirements.txt" />
                </Component>
                <Component Id="NodeJSComponent" Guid="*">
                  <File Source="C:\Program Files\nodejs\*" />
                </Component>
                <Component Id="AgentsComponent" Guid="*">
                  <File Source="agents\*.yaml" />
                  <File Source="agents\launcher.py" />
                  <File Source="agents\weather_connector.py" />
                </Component>
                <Component Id="ToolsComponent" Guid="*">
                  <File Source="tools\travel_sender.py" />
                </Component>
              </ComponentGroup>
            </Fragment>
          </Wix>
          "@
          $wxsContent | Out-File -Encoding utf8 product.wxs
          & "C:\Program Files (x86)\WiX Toolset v3.11\bin\candle.exe" product.wxs
          & "C:\Program Files (x86)\WiX Toolset v3.11\bin\light.exe" -out $msiName product.wixobj

      - uses: actions/upload-artifact@v4
        with:
          name: win-installer
          path: ${{ env.MSI_NAME }}
