name: Reliable Windows Package
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
        type: string

jobs:
  package:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Bundle Python environment
        run: |
          $env:VENV = "venv"
          python -m venv $env:VENV
          & "$env:VENV/Scripts/pip" install -r requirements.txt
          & "$env:VENV/Scripts/pip" freeze > bundled-requirements.txt


      - name: Package
        run: |
          Compress-Archive -Path venv,*.py,requirements.txt,bundled-requirements.txt -Destination release-${{ github.event.inputs.version }}.zip -Force

      - uses: actions/upload-artifact@v4
        with:
          name: win-package-reliable
          path: release-${{ github.event.inputs.version }}.zip
